form {
  display: flex;
  flex-direction: column;
  width: min(15rem, 80%);
  margin: 0 auto;
  gap: 1.5rem;
  font-size: 1.25rem;
}
form input,
select {
  font-size: 1.2rem;
  padding: 0.75em;
  border-radius: 3rem;
}
form select {
  border-radius: 0.5rem;
}
.form-btn {
  padding: 0.75em 0.75em;
  margin: 0;
  align-self: center;
}
.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0 0.1%, 0.1% 0.1%, 0.1% 0);
}
.form-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form-buttons a {
  color: black;
  /* text-decoration: none; */
}
