form {
  display: flex;
  flex-direction: column;
  max-width: min(15rem, 80%);
  margin: 0 auto;
  gap: 1.5rem;
  font-size: 1.25rem;
}
form input,
select {
  font-size: 1.2rem;
  padding: 0.75em;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.form-btn {
  padding: 0.75em 0.75em;
  margin: 0;
  align-self: center;
}
.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0 0.1%, 0.1% 0.1%, 0.1% 0);
}
.form-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form-buttons a {
  color: black;
}

.cancel-btn {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 45em) {
  form {
    max-width: min(20rem, 100%);
  }

  form,
  form input,
  form select {
    font-size: 1.75rem;
  }
  form input,
  select {
    padding: 0.5em;
  }
}
