.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: rgb(248, 40, 40);
  padding: 0.75em 1.5em;
  font-size: 1 rem;
  align-self: flex-end;
  margin-right: 1rem;
}
